name: Java CI with Maven & Docker

# КОГДА запускать этот "Листочек с заданиями"?
on:
  push:
    branches: [ "master", "master", "pipe-check"]
  pull_request:
    branches: [ "master", "master", "pipe-check"]

jobs:
  build-and-test:
    # ГДЕ запускать? (На чистом виртуальном компьютере Ubuntu)
    runs-on: ubuntu-latest

    steps:
      # 1. Скачиваем твой код на машину Runner'а
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Устанавливаем Java 8 (как у тебя локально)
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: 'maven' # Кэшируем библиотеки, чтобы не качать интернет каждый раз

      # 3. Проверка стиля (Checkstyle)
      # Если тут будет ошибка, пайплайн упадет СРАЗУ (Fail Fast).
      # Мы не тратим время на сборку и Docker, если код кривой.
      - name: Run Checkstyle
        run: mvn checkstyle:check

      # 4. Сборка приложения (Build) - ЭТАП "ВЕРСТАК"
      # Мы создаем backend-app.war в папке target.
      # Важно: -DskipTests, потому что Docker еще не запущен!
      - name: Build Backend WAR
        run: mvn clean package -pl backend-app -am -DskipTests

      # 5. Запуск окружения (Run) - ЭТАП "СЕЙФ"
      # Docker берет WAR файл, копирует его в контейнер и запускает Tomcat.
      - name: Start Docker Environment
        run: docker compose up -d --build

      # 6. Пауза на кофе ☕
      # Tomcat грузится не мгновенно. Дадим ему 30 секунд проснуться.
      # (Позже мы заменим это на умную проверку healthcheck)
      - name: Wait for Tomcat to start
        run: sleep 30

      # 7. Тестирование - ЭТАП "ОБСТРЕЛ"
      # Мы запускаем только модуль тестов.
      # Тесты стучатся на localhost:8080, где уже работает контейнер.
      - name: Run Tests (E2E & Integration)
        run: mvn test -pl aqa-framework